<a href="https://colab.research.google.com/github/yantraguru/deeplearn/blob/master/1_neuron_guessing_linear_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import pandas as pd

import tensorflow as tf
from tensorflow import keras
print( tf.VERSION )

1.14.0

In [0]:
#@title
def hw_function(x):
    y = x + 5.0;
    return y
  
#@title
def mw_function(x):
    y = 2*x -3;
    return y

In [13]:
X = np.array(np.random.randint(100, size=10)).astype("float32")

#X = np.linspace(2.0, 1000.0, num=20).astype("float32")

#X = np.array([x for x in range(50,70)]).astype("float32")
print(X)

[13. 56. 27. 29. 99. 34. 38. 87.  9. 99.]

In [14]:
y = np.array([hw_function(x) for x in X]).astype("float32")
print(y)

[ 18.  61.  32.  34. 104.  39.  43.  92.  14. 104.]

In [15]:
model = tf.keras.Sequential([keras.layers.Dense(units=1, input_shape=[1])])
model.compile(optimizer='sgd', loss='mean_squared_error')
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [16]:
MX_LIM = np.max([np.max(X),np.max(y)])
print(MX_LIM)
X /= MX_LIM
print(X)
y /= MX_LIM
print(y)

104.0
[0.125      0.53846157 0.2596154  0.27884614 0.9519231  0.32692307
 0.3653846  0.83653843 0.08653846 0.9519231 ]
[0.17307693 0.58653843 0.30769232 0.32692307 1.         0.375
 0.41346154 0.88461536 0.13461539 1.        ]

In [17]:
model.fit(X, y, epochs=5000, verbose=0)

In [18]:
modelWeights = []
for layer in model.layers:
    layerWeights = []
    for weight in layer.get_weights():
        layerWeights.append(weight)
    modelWeights.append(layerWeights)
    
print(modelWeights)

[[array([[0.999934]], dtype=float32), array([0.04811094], dtype=float32)]]

In [0]:
test_input = [5,18,25,72,1000, 7832]
test_input /= MX_LIM
answer = model.predict(test_input)

In [20]:
pd.DataFrame({'input':(test_input*MX_LIM).astype("float16"),
              'answer_from_net':(answer*MX_LIM).astype("float16").flatten()})

    input  answer_from_net
0     5.0             10.0
1    18.0             23.0
2    25.0             30.0
3    72.0             77.0
4  1000.0           1005.0
5  7832.0           7836.0